<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Основы Vue</title>
    <link rel="stylesheet" href="theme.css"/>
</head>
<body>

<div class="container" id="app">
    <div class="card">
        <h1>План по изучению Vue.js</h1>

        <div class="steps">
            <div class="steps-content">
                {{ showActiveIndex.text }}
            </div>
            <ul class="steps-list">
                <li :class="{'active': idx <= activeIndex, 'done': idx === activeIndex}" class="steps-item" v-for="(step, idx) in steps" :key="step" @click="setActive(idx)">
                    <span>{{ idx + 1 }}</span> {{ step.title }}
                </li>
            </ul>
            <div>
                <button @click="prev" class="btn" :disabled="isPrevButtonActive" v-if="!isLastItem">Назад</button>
                <button @click="nextOfFinish" class="btn primary" v-if="!isLastItem">Вперед</button>
                <button class="btn" v-if="isLastItem" @click="reset">Начать заного</button>
            </div>
        </div>
    </div>
</div>

<script src="https://unpkg.com/vue@next"></script>
<script src="vue.js"></script>
</body>
</html>
